<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
    <meta charset="UTF-8">
    <title>Commande</title>
</head>
<body>
<h1>Commandes passées</h1>
<button type="submit"><a href="commande/nouvelle_commande">Nouvelle commande</a></button>


<!--/*@thymesVar id="article" type="fr.eni.tppanier.bo.Article"*/-->
<div th:each="commande : ${toutesLesCommandes}">
    <fieldset>
        <legend th:text="'Commande : '+${commande.getAdresse()} + ' '+ ${commande.getTotal()}"></legend>
        <div th:each="ligneCommande : ${commande.getPanier()}">
            <p th:text="${ligneCommande.article.nom}+' | '+${ligneCommande.quantite}+' | '+${ligneCommande.article.prix}+' | '+${ligneCommande.totalLigne()}"></p>

        </div>

    </fieldset>
</div>


</body>
</html>
