<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
    <meta charset="UTF-8">
    <title>Commande</title>
</head>
<body>
<h1>Passer une commande</h1>
<!--/*@thymesVar id="article" type="fr.eni.tppanier.bo.Article"*/-->

<form th:action="@{/commande/nouvelle_commande/ajouter_article}" th:object="${article}"  method="post">
    <fieldset>
        <legend>Articles</legend>
        <select name="article" id="article">
            <div th:each="article : ${tousLesArticles}">
                <option th:value="${article.idArticle}" th:text="${article.nom}+' '+${article.prix} "></option>
            </div>
        </select>
        <input type="submit" value="Ajouter">
    </fieldset>
</form>
<div>
    <!--/*@thymesVar id="ligneCommande" type="fr.eni.tppanier.bo.LigneCommande"*/-->
    <ul th:each="ligneCommande : ${panier}">
        <li th:if="${ligneCommande.getValue()}>0">
        <span th:text="${ligneCommande.getKey().nom}+' | '+${ligneCommande.getValue()}+' | '+${ligneCommande.getKey().getPrix()}+' | '+${ligneCommande.getValue()}*${ligneCommande.getKey().getPrix()}">
        </span>
        <a class="btn" th:href="@{/commande/nouvelle_commande/supprimer_article/{id}(id=${ligneCommande.getKey().idArticle})}">[X]</a>
        </li>

    </ul>

<!--            <span th:if="${#fields.hasErrors('articles')}" th:errors="${commande.articles}"></span>-->
</div>

<!--/*@thymesVar id="commande" type="fr.eni.tppanier.bo.Commande"*/-->
<form th:action="@{/commande/nouvelle_commande}" th:object="${commande}" method="post">
    <label for="adresse">Adresse</label>
    <input type="text" id="adresse" th:field="*{adresse}">
            <span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}"/>
    <br>

    <input type="submit" value="Valider">
</form>


</body>
</html>
